@font-face {
  font-family: Public Sans;
  src: url("./assets/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf")
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Public Sans, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  /* Размер основного шрифта в пунктах  */
  background-color: #f0f0f0;
  /* Цвет фона веб-страницы */
  color: #333;
  /* Цвет основного текста */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation {
  background-color: #6A7581;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.nav-item {}
li {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  padding: 0 20px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

h1 {
  font-size: 28px;
  color: #101214;
  /* Размер шрифта в пунктах */
  font-family: Public Sans, sans-serif;
  /* Семейство шрифтов */
  font-weight: 700;
  /* Нормальное начертание текста  */
}
.container1 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #AAABAE;

}

.aside li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #6A7581;
}
.aside ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.skills li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: #6A7581;
  border-radius: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: #FFFFFF;
  margin: 5px 0;
}
.english p  {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 3;
  padding: 0 10px;
  background-color: #6A7581;
  border-radius: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: #FFFFFF;
  margin: 5px 0;
}

.aside h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #6A7581;
}
.container1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #6A7581;
}
a {
  color: #828582dc;
  text-decoration: none;
  transition: color 0.5s;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content:left;
}
/*.contact_info {
  display: flex;
  flex-direction: column;
  justify-content:left;
  
}*/

ul {
  padding: 0;
}

a:hover {
  color: #4d2323;
}


/*.section {
  width: 40%;
  border: #101214 solid 1px;
  margin: 0;*/
.container {
  max-width: 1440px;
  margin: 0 auto;
  
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  width: 70%;
  margin: 0 auto;
  /*border: #101214 solid 1px;*/
  /*background-color: cadetblue;*/
  padding: 10px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  
}

.container2 {
  width: 30%;
  margin: 0 auto;
  /*border: #101214 solid 1px;*/
  /*background-color: #b37575;*/
  padding: 10px 30px;
  box-sizing: border-box;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6A7581;
  padding: 0 10px;
  box-sizing: border-box; 
}

.profile {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}
.code pre {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.autor {
  width: 50%;
}
.photo {
  display: flexbox;
}
@media (max-width: 768px) {
  .container1, .container2, .photo, .name {
    width: 100%;
  }
  .nav-list, .profile {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  }
  .nav-link {
    line-height: 2;
  }
}

